
#title{
  background-color: #ff4c68;
}
.xx {
  font-weight: bold;
    font-size: 3rem;
    font-family: 'Montserrat',sans-serif;
    line-height: 1.5;
  color: white;

}
.navbar-brand{
  font-family: 'Ubuntu', sans-serif;
      font-size: 1rem;


}
.container{
  padding: 2% 15%;
}
.row{
  padding-top: 25px;
}
.navbar{
  font-weight: bold;
  padding: 0 0 4.5rem ;

}
#features{
  background-color: #fff;
  
}
.nav-item{
  padding: 0 18px ;
}
.bit{
  transform: rotate(25deg);

  }
.download-but{
  margin: 8% 2% 0;
}
.loo{
  height: 150px;
  width: 150px;
  text-align: center;
  color: #ef8172;


}
.loo:hover{
  color: black;
}

.h{font-size: 1.5rem;
  font-family: 'Montserrat',sans-serif;
  text-align: center;
  font-weight: bolder;

}
.three{
  padding: 75px 150px 75px;
}
.k{
  text-align: center;
  color: #8f8f8f;
padding: 0 20%;
}
#testimonials
{
  background-color: #ff4c68;

  text-align: center;
}
.ff{
  font-size: 2.5rem;
  font-family: 'Ubuntu',sans-serif;
color: white;
font-weight: bold;
line-height: 1.7;
}
.box{
  text-align: center;
  padding: 5%;
}
.doggy{
  width: 15%;
  border-radius: 100%;
  padding: 75px 0 25px;
}
#press{
  background-color: #ff4c68;
text-align: center;
}
.imgs{
width: 15%;
padding: 0 40px 70px;

}
.carousel-item{
  padding: 7% 15%;
}
.enter{
  padding:50px;
}
